<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hbm2ddl.auto">create</property> 
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
     <!--   <property name="hibernate.connection.password">system</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">system</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>  
        <property name="hibernate.show_sql">true</property> -->  
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        
        <mapping resource="Game.hbm.xml"/>  
	    <mapping resource="League.hbm.xml"/> 
	    <mapping resource="Player.hbm.xml"/> 
	    <mapping resource="Sport.hbm.xml"/> 
	    <mapping resource="Team.hbm.xml"/> 
	    <mapping resource="User.hbm.xml"/> 

    </session-factory>
</hibernate-configuration>
