/build/
/.classpath
WebContent/WEB-INF/resources/UIAssets/.DS_Store
WebContent/WEB-INF/resources/UIAssets/.DS_Store
.DS_Store
.DS_Store
WebContent/.DS_Store
WebContent/WEB-INF/lib/com.mysql.jdbc_5.1.5.jar
WebContent/WEB-INF/spring/appServlet/servletContext.xml
