@CHARSET "UTF-8";
html,body {
    overflow-x: visible;
    max-width: 100%;
}
.maindiv{
	position: relative;
	font-size: 10px;
}
.blur{
  -webkit-filter: blur(1px) grayscale(10%);
}
.colorstrip1{
	position: absolute;
	width: 100%; 
	height: 60px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
}
.colorstrip2{
	position: relative;
	width: 100%;
	top: 60px;
	height: 200px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
    font-size:10px;
    display:inline-block;
}
.allinonebanner{
	position: relative;
	bottom: -30px; 
	color: #ffffff;
	font-size:15em; 
	font-family:"Helvetica Neue"; 
	padding-left:20px; 
	width:100%; 
	text-align:left;
}
.multisportfantasyleague{
	position: relative;
	bottom: -30px; 
	color: #ffffff;
	font-size:3em; 
	font-family:"Helvetica Neue"; 
	padding-left: 20px; 
	width:100%; 
	text-align:left;
}
.imagestripdiv{
	position:relative;
	height: 500px;
	display:flex;
	top: 60px;
}
.footballimage{
	position: relative;
	width: 50%;
	opacity: 0.5;
}
.cricketimage{
	position: relative;
	width: 50%;
	opacity: 0.5;
}
.colorstrip31{
	position: relative;
	width: 15%; 
	height: 40px;
	margin-top: -180px;
	left: 42.5%;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
    text-align: center;
}
.signupbuttondiv{
	display: flex;
	width: 100%;
	justify-content: center;
}
.signupbanner{
	height: 40px;
	width: 250px;
	background-color: #c50234;
	border: none;
	margin-top: -180px;
	position: relative;
	bottom: 0px; 
	color: #ffbf03;
	cursor: pointer;
	font-size:3em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.signupcred{
	position: relative;
	margin-top: -15px;
	color: #ffbf03;
	font-size:30px; 
	font-family:"Helvetica Neue";  
	font-weight: bold;
}
.signupmodalcss{
    display: none; /* Hidden by default */
    max-height: calc(100% - 50px);
  	position: fixed;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%);
}
.signup-modal-content{
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 250px; /* Could be more or less, depending on screen size */
    height: 300px;
    box-shadow: 0 15px 18px 0 rgba(0,0,0,0.2),0 16px 30px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}
.semail{
	position: relative;
	margin-left: -3px;
	margin-top: -10px;
	height: 30px;
	font-size: 20px;
}
.susername{
	position: relative;
	margin-left: -3px;
	margin-top: 20px;
	height: 30px;
	font-size: 20px;
}
.spassword{
	position: relative;
	margin-left: -3px;
	margin-top: 20px;
	height: 30px;
	font-size: 20px;
}
.srepassword{
	position: relative;
	margin-left: -3px;
	margin-top: 20px;
	height: 30px;
	font-size: 20px;
}
.ssubmit{
	position: relative;
	margin-top: 10px;
	border: none;
	background-color: #ffffff;
	color: #ffbf03;
	cursor: pointer;
	font-size: 30px; 
	font-family:"Helvetica Neue";  
	font-weight: bold;
	text-decoration: underline;
}
.loginmodalcss{
    display: none; /* Hidden by default */
    max-height: calc(100% - 50px);
  	position: fixed;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%);
}
.modal-content{
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 250px; /* Could be more or less, depending on screen size */
    height: 200px;
    box-shadow: 0 15px 18px 0 rgba(0,0,0,0.2),0 16px 30px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}
.logincred{
	position: relative;
	margin-top: -15px;
	color: #ffbf03;
	font-size:30px; 
	font-family:"Helvetica Neue";  
	font-weight: bold;
}
.username{
	position: relative;
	margin-left: -3px;
	margin-top: -10px;
	height: 30px;
	font-size: 20px;
}
.password{
	position: relative;
	margin-left: -3px;
	margin-top: 20px;
	height: 30px;
	font-size: 20px;
}
.forgotuorpdiv{
	display:inline-block;
	float: left;
}
.forgotuorp{
	float: left;
	color: #ffbf03;
	font-size:12px; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.reset{
	margin-top: 10px;
	margin-left: 10px;
	height: 20px;
	background-color: #ffffff;
	border: none;
	position: absolute; 
	color: #ffbf03;
	cursor: pointer;
	font-size:12px; 
	font-family:"Helvetica Neue";  
	font-weight: bold;
	text-decoration: underline;
}
.submit{
	position: relative;
	margin-top: 10px;
	border: none;
	background-color: #ffffff;
	color: #ffbf03;
	cursor: pointer;
	font-size: 30px; 
	font-family:"Helvetica Neue";  
	font-weight: bold;
	text-decoration: underline;
}
.loginbuttondiv{
	margin-top: 60px;
	display: flex;
	width: 100%;
	justify-content: center;
}
.loginbanner{
	height: 40px;
	width: 250px;
	background-color: #c50234;
	border: none;
	margin-top: -180px;
	position: relative;
	bottom: 0px; 
	color: #ffbf03;
	cursor: pointer;
	font-size:3em; 
	font-family:"Helvetica Neue"; 
	font-weight: bold;
}

.colorstrip4{
	position: relative;
	width: 95%; 
	height: 60px;
	margin-top: -120px;
	margin-left: 40px;
	margin-right: 10px;
    border-style: none;
    border-color: #ffffff;
    background-color: #ffffff;   
}
.registerbanner{
	position: relative;
	bottom: -10px; 
	color: #c50234;
	font-size:3em; 
	font-family:"Helvetica Neue"; 
	padding-left:20px; 
	width:100%; 
	text-align:left;
}
.colorstrip41{
	position: relative;
	width: 15%; 
	height: 60px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
    float: right;   
    margin-right: 100px;
    text-align: center;
}
.knowmorebanner{
	position: relative;
	bottom: -10px; 
	color: #ffbf03;
	font-size:3em; 
	font-family:"Helvetica Neue";   
}
.colorstrip5{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #5a1646;
    background-color: #5a1646;
}
.colorstrip6{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
}
.colorstrip7{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip8{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip9{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.infodiv{
	position:relative;
	height: 1000px;
	display:flex;
	top: 60px;
}
.colorstrip91{
	position: absolute;
	top: 50px;
    width: 15%; 
	height: 60px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
    float: left;   
    margin-left: 50px;
    text-align: center;
}
.featuresbanner{
	position: relative;
	bottom: -10px; 
	color: #ffbf03;
	font-size:3em; 
	font-family:"Helvetica Neue";   
}
.colorstrip92{
	position: relative;
	top: 450px;
    width: 25%; 
	height: 60px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
    float: left;   
    margin-left: 50px;
    text-align: center;
}
.leaguessupportedbanner{
	position: relative;
	bottom: -10px; 
	color: #ffbf03;
	font-size:3em; 
	font-family:"Helvetica Neue";   
}
.leaguesimage{
	position: relative;
	top: 100px;
	left: 20px;
}
.colorstrip10{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.colorstrip11{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip12{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip13{
	position: relative;
	width: 100%;
	top: 40px;
	height: 300px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
    text-align: center;
}
.companybanner{
	position: relative;
	width: 100%;
	margin-left:auto; 
	margin-right:auto; 
	color: #ffffff;
	font-size:2em; 
	font-family:"Helvetica Neue"; 
	top:50%;
}
