@CHARSET "UTF-8";
html,body {
    overflow-x: visible;
    max-width: 100%;
	min-width: 1500px;
	background: #021A42; /* For browsers that do not support gradients */
    /* background: -webkit-linear-gradient(#000000, #ffffff); For Safari 5.1 to 6.0
    background: -o-linear-gradient(#000000, #ffffff); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#000000, #ffffff); For Firefox 3.6 to 15
    background: linear-gradient(#000000, #ffffff); */
}
.maindiv{
	position: relative;
	font-size: 10px;
	z-index: 99;
}
.blur{
  -webkit-filter: blur(1px) grayscale(10%);
}
.colorstrip1{
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 40px;
    border-style: none;
    border-color: #91053d;
    background-color: rgba(255,255,255,0.3);
    z-index: 999;
}

.logout{
	position: absolute;
	right: 50px;
	width: 100px;
}

.colorstrip2{
	position: relative;
	width: 100%;
	top: 60px;
	height: 200px;
    border-style: none;
    border-color: #c50234;
    background-color: none;
    font-size:10px;
    display:inline-block;
}
.leagueimage{
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.profileimage{
  margin-top: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.welcomemsg{
    position: relative; 
	color: #ffffff;
	font-size:5em; 
	font-family:'Raleway', sans-serif; 
	margin-left: 25px; 
	margin-bottom: 30px;
	width:100%; 
	text-align:left;
	display: inline;
}

.joinleague {
	position: absolute;
	right: 40%;
	
	  
}
.bannerdesign{
	float:right;
	margin-top: 0px;
	margin-right: 0px;
	height: 100%;
}
.colorstrip21{
	position: relative;
	margin-top: 60px;
	width: 100%;
	height: 43.75px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
    font-size:10px;
    display: inline-block;
    align:center;
}

.leagueinfo{
	position: relative;
	height: 700px;
}

.leagueinfo .players {
	margin-top: 120px;
	position: absolute;
	left: 5%;
	display: show;
}

.playerlist{
/* 	position: relative;
	left: -50%; */
	overflow: auto;
	max-height: 530px;
    background-color: none;
    max-width: 800px;
    margin-top: 10px;
}

.playerlist a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.5em; 
	font-family:'Raleway', sans-serif;  
	   
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.leagueinfo .previousgames {
	margin-top: 40px;
	position: absolute;
	top: 380px;
	right: 7.5%;
	display: show;
}

.previousgameslist{
/* 	position: relative;
	left: -50%; */
	overflow-y: scroll;
	max-height: 530px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin-top: 10px;
}

.previousgames a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.5em; 
	font-family:'Raleway', sans-serif;  
	   
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.leagueinfo .upcominggames {
	margin-top: 120px;
	position: absolute;
	right: 7.5%;
	display: show;
}

.upcominggameslist{
/* 	position: relative;
	left: -50%; */
	overflow-y: scroll;
	max-height: 300px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin-top: 10px;
}

.upcominggameslist a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.5em; 
	font-family:'Raleway', sans-serif;  
	   
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.colorstrip22{
	margin-top: -10px;
	padding: 0px;
	width: 800px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:'Raleway', sans-serif;  
	   
	text-align: center;
}

.colorstrip23{
	margin-top: -10px;
	padding: 0px;
	width: 400px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:'Raleway', sans-serif;  
	   
	text-align: center;
}

.colorstrip10{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.colorstrip11{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip12{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip13{
	position: relative;
	width: 100%;
	top: 40px;
	height: 300px;
    border-style: none;
    border-color: #91053d;
    background-color: #ffbf03;
    text-align: center;
}
.companybanner{
	position: relative;
	width: 100%;
	margin-left:auto; 
	margin-right:auto; 
	color: #ffffff;
	font-size:2em; 
	font-family:'Raleway', sans-serif; 
	top:50%;
}

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center;	align-items: center; }
 
@mixin animated($timein: null, $delay: null) { 
 transition: all $timein ease-in-out;
  transition-delay: $delay; 
}

@mixin dimensions($width: null, $height: null) { width: $width; min-height: $height; }

$maincolor: #009688;
    /* html{height: 100%;} */
    body{
      
      @extend %flex;
       font-family: 'Open Sans', sans-serif;
      width: 100%;
      min-height: 100%;
      background: #009688;
      font-size: 16px;
      overflow: hidden;
    }
 

    *, *:before, *:after {
      box-sizing: border-box;
    }
.content{
  position: relative; 
  animation: animatop 0.9s  cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards ;
}

.card{  
 @include dimensions( 500px,  50px);
  padding: 0px 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 190px;
    height: 50px;
    background: cadetblue;
    
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
}
}

  .badgescard{
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 580px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1; 
    left: 10px; 
    bottom: 10px;
    @extend %flex; 
    animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;
    span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
    }
  }   

.firstinfo{
  @extend %flex;
  flex-direction: row;  
  z-index:2;
  position: relative;
  img{ 
    border-radius: 10%;
    width: 120px;
	height: 120px;
  }
  .profileinfo{
    padding: 0px 0px;
    h1{ font-size: 1.8em;}
    h3{ font-size: 1.2em;
        color: $maincolor;
        font-style: italic;
    }
    p.bio{
      padding: 0px 0px;
      color: #5A5A5A;
      line-height: 1.2;
      font-style: initial;
    }  
  }
}

.userimage {
	position: absolute;
	right: 10px;
	top: 5px;
	height: 50px;
	width: 70px;
}

@keyframes animatop{
  0%{ 
    opacity: 0;
    bottom: -500px;}
  100%{  
   opacity: 1;  
  bottom: 0px;}
}
 
@keyframes animainfos{
  0%{
    bottom:  10px;}
  100%{
  bottom: -42px;}
}

@keyframes rotatemagic{
  0%{
    opacity: 0;
    transform: rotate(-0deg);
    top: -24px;
    left: -253px;
  }
  100%{
    
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}