@CHARSET "UTF-8";
html,body {
    overflow-x: visible;
    max-width: 100%;
	min-width: 1500px;
	/* For browsers that do not support gradients */
    /* background: -webkit-linear-gradient(#000000, #ffffff); For Safari 5.1 to 6.0
    background: -o-linear-gradient(#000000, #ffffff); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#000000, #ffffff); For Firefox 3.6 to 15
    background: linear-gradient(#000000, #ffffff); */
}
.maindiv{
	position: relative;
	font-size: 10px;
	z-index: 99;
	background: rgba(2,26,66,0.6); 
	height:100%;
}
.bgimage{
	position: fixed;
	z-index: -99;
	top: 0px;
	height: 100vh;
	width: 100vh;
	background: #ffffff;
}
.blur{
  -webkit-filter: blur(1px) grayscale(10%);
}
.colorstrip1{
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 40px;
    border-style: none;
    border-color: #91053d;
    background-color: rgba(255,255,255,0.3);
    z-index: 999;
}
.aiologo{
	position:absolute;
	left: 170px;
	top:2.5px;
}
.logout{
	position: absolute;
	right: 50px;
	width: 100px;
}

.colorstrip2{
	position: relative;
	width: 100%;
	top: 45px;
	height: 70px;
    border-style: none;
    border-color: #c50234;
    background-color: none;
    font-size:10px;
    display:inline-block;
}
.leagueimage{
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.profileimage{
  margin-top: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.welcomemsg{
    position: relative; 
	color: #ffffff;
	font-size:5em; 
	font-family:'Raleway', sans-serif; 
	margin-left: 25px; 
	margin-bottom: 30px;
	width:100%; 
	text-align:left;
	display: inline;
}

.joinleague {
	position: absolute;
	left: 0px;
	display: inline;
	
	  
}
.bannerdesign{
	float:right;
	margin-top: 0px;
	margin-right: 0px;
	height: 100%;
}
.colorstrip21{
	position: relative;
	margin-top: 60px;
	width: 100%;
	height: 43.75px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
    font-size:10px;
    display: inline-block;
    align:center;
}

.leagueinfo{
	position: relative;
	height:750px;
	top:0px;
}

.leagueinfo .players {
	margin-top: 90px;
	position: absolute;
	left: 5%;
	display: show;
}

.playerlist{
/* 	position: relative;
	left: -50%; */
	overflow: auto;
	max-height: 530px;
    background-color: none;
    max-width: 800px;
    margin-top: 10px;
}

.playerlist a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.5em; 
	font-family:'Raleway', sans-serif;  
	   
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.leagueinfo .previousgames {
	margin-top: 40px;
	position: absolute;
	top: 380px;
	right: 7.5%;
	display: show;
}

.previousgameslist{
/* 	position: relative;
	left: -50%; */
	overflow-y: scroll;
	max-height: 530px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin-top: 10px;
}

.previousgames a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.5em; 
	font-family:'Raleway', sans-serif;  
	   
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.leagueinfo .myteam {
	margin-top: 90px;
	position: absolute;
	right: 7.5%;
	display: show;
}

.upcominggameslist{
/* 	position: relative;
	left: -50%; */
	overflow-y: scroll;
	max-height: 300px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin-top: 10px;
}

.upcominggameslist a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.5em; 
	font-family:'Raleway', sans-serif;  
	   
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.colorstrip22{
	margin-top: -10px;
	padding: 0px;
	width: 800px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:'Raleway', sans-serif;  
	   
	text-align: center;
}

.colorstrip23{
	margin-top: -10px;
	padding: 0px;
	width: 400px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:'Raleway', sans-serif;  
	text-align: left;
}
.colorstrip10{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.colorstrip11{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip12{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip13{
	position: relative;
	width: 100%;
	bottom: 0px;
	height: 80px;
    border-style: none;
    border-color: #91053d;
    background-color: #ffbf03;
    text-align: center;
}
.companybanner{
	position: relative;
	width: 100%;
	margin-left:auto; 
	margin-right:auto; 
	color: #ffffff;
	font-size:2em; 
	font-family:'Raleway', sans-serif; 
	top:50%;
}

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center;	align-items: center; }
 
@mixin animated($timein: null, $delay: null) { 
 transition: all $timein ease-in-out;
  transition-delay: $delay; 
}

@mixin dimensions($width: null, $height: null) { width: $width; min-height: $height; }

$maincolor: #009688;
    /* html{height: 100%;} */
    body{
      
      @extend %flex;
       font-family: 'Open Sans', sans-serif;
      width: 100%;
      min-height: 100%;
      background: #009688;
      font-size: 16px;
      overflow: hidden;
    }
 

    *, *:before, *:after {
      box-sizing: border-box;
    }
.content{
  position: relative; 
  animation: animatop 0.9s  cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards ;
}

.card{  
 @include dimensions( 500px,  50px);
  padding: 0px 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 190px;
    height: 50px;
    background: cadetblue;
    
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
}
}

  .badgescard{
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 580px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1; 
    left: 10px; 
    bottom: 10px;
    @extend %flex; 
    animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;
    span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
    }
  }   

.firstinfo{
  @extend %flex;
  flex-direction: row;  
  z-index:2;
  position: relative;
  img{ 
    border-radius: 10%;
    width: 120px;
	height: 120px;
  }
  .profileinfo{
    padding: 0px 0px;
    h1{ font-size: 1.8em;}
    h3{ font-size: 1.2em;
        color: $maincolor;
        font-style: italic;
    }
    p.bio{
      padding: 0px 0px;
      color: #5A5A5A;
      line-height: 1.2;
      font-style: initial;
    }  
  }
}

.userimage {
	position: absolute;
	right: 10px;
	top: 5px;
	height: 50px;
	width: 70px;
}

@keyframes animatop{
  0%{ 
    opacity: 0;
    bottom: -500px;}
  100%{  
   opacity: 1;  
  bottom: 0px;}
}
 
@keyframes animainfos{
  0%{
    bottom:  10px;}
  100%{
  bottom: -42px;}
}

@keyframes rotatemagic{
  0%{
    opacity: 0;
    transform: rotate(-0deg);
    top: -24px;
    left: -253px;
  }
  100%{
    
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

  @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center;	align-items: center; }
 
@mixin animated($timein: null, $delay: null) { 
 transition: all $timein ease-in-out;
  transition-delay: $delay; 
}

.content1{
  position: relative; 
  animation: animatop 0.9s  cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards ;
}

.card1{  
 @include dimensions( 500px,  30px);
  padding: 0px 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 30px;
    background: cadetblue;
    
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
}
}

  .badgescard1{
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 580px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1; 
    left: 10px; 
    bottom: 10px;
    @extend %flex; 
    animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;
    span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
    }
  }   

.firstinfo1{
  @extend %flex;
  flex-direction: row;  
  z-index:2;
  position: relative;
  img{ 
    border-radius: 10%;
    width: 120px;
	height: 120px;
  }
  .profileinfo1{
    padding: 0px 0px;
    h1{ font-size: 1.8em;}
    h3{ font-size: 1.2em;
        color: $maincolor;
        font-style: italic;
    }
    p.bio1{
      padding: 0px 0px;
      color: #5A5A5A;
      line-height: 1.2;
      font-style: initial;
    }  
  }
}

.userimage1 {
	position: absolute;
	right: 10px;
	top: 5px;
	height: 30px;
	width: 30px;
}

.allinonebanner{
	position: absolute; 
	top: -3px;
	left: 0px;
	color: #ffbf03;
	font-size:2em; 
	font-family:'Raleway', sans-serif; 
	padding-left:20px; 
	width:200px; 
	text-align:left;
	border: none;
	background: none;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: relative;
  top: 40px;
  width: 100%;
  overflow: hidden;
  height: 140px;
  background-color: rgba(255,191,3,0.5);
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 140px;
  line-height: 10px;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}
.ticker__item {
  display: inline-block;
  margin-left:10px;
  margin-right:10px;
  font-size: 2em;
  color: white;
  align: center;
}
.teamimage {
	right: 0px;
	top: 0px;
	height: 30px;
	width: 50px;
}

.uploadplayerimagemodalcss{
    display: none;  /* Hidden by default */
    max-height: calc(100% - 50px);
  	position: fixed;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 199;
}
.uploadplayerimage-modal-content{
	z-index: 199;
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: -100px;
    border: none;
    width: 700px; /* Could be more or less, depending on screen size */
    height: 700px;
    box-shadow: 0 15px 18px 0 rgba(0,0,0,0.2),0 16px 30px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
   	text-align: center;
}
.modalcolorstrip1{
	background-color: #ffbf03;
	width: 100%;
	height: 60px;
	color: #ffffff;
	text-align: center;
}
.uploadgamescoremodalcss{
    display: none;  /* Hidden by default */
    max-height: calc(100% - 50px);
  	position: fixed;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 199;
}
.uploadgamescoremodalloadercss{
    display: none;  /* Hidden by default */
    max-height: calc(100% - 50px);
  	position: fixed;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 199;
}
.uploadgamescore-modal-content{
	z-index: 199;
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: -100px;
    border: none;
    width: 900px; /* Could be more or less, depending on screen size */
    height: 400px;
    box-shadow: 0 15px 18px 0 rgba(0,0,0,0.2),0 16px 30px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
   	text-align: center;
}
.chatlogo{
	position: fixed;
	bottom: 25px;
	right: 20px;
	cursor: pointer;
	
}
.chatbox{
	position:fixed;
	bottom:0px;
	right:100px;
	height: 300px;
	width: 250px;
	background-color: #ffffff;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
   	-moz-transition: opacity 0.5s;
   	-o-transition: opacity 0.5s;
   	transition: opacity 0.5s;
   	overflow-y:scroll;
}
.chatheader{
	position:relative;
	top:0px;
	width:100%;
	background-color:#ffbf03;
	height:30px;
	text-align:center;
	color: #ffffff;
	font-size: 2.2em;
	font-family:Raleway, sans-serif;
}
.minimisebox{
	position:absolute;
	top: 13px;
	right: 10px;
	background-color: #ffffff;
	height: 5px;
	width: 25px;
	cursor:pointer;
}