@CHARSET "UTF-8";
html,body {
    overflow-x: visible;
    max-width: 100%;
	min-width: 1500px;
	background: #000000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000000, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000, #ffffff);
}
.maindiv{
	position: relative;
	font-size: 10px;
	z-index: 99;
}
.blur{
  -webkit-filter: blur(1px) grayscale(10%);
}
.colorstrip1{
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 60px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
    z-index: 999;
}
.colorstrip2{
	position: relative;
	width: 100%;
	top: 60px;
	height: 200px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
    font-size:10px;
    display:inline-block;
}
.userimage{
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.profileimage{
  margin-top: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.welcomemsg{
    position: relative; 
	color: #ffffff;
	font-size:5em; 
	font-family:"Helvetica Neue"; 
	margin-left: 25px; 
	margin-bottom: 30px;
	width:100%; 
	text-align:left;
	display: inline;
}
.bannerdesign{
	float:right;
	margin-top: 0px;
	margin-right: 0px;
	height: 100%;
}
.colorstrip21{
	position: relative;
	margin-top: 60px;
	width: 100%;
	height: 43.75px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
    font-size:10px;
    display: inline-block;
    align:center;
}

.teaminfo{
	position: relative;
	height: 1000px;
}

.playerroster{
	position: absolute;
	right: 10%;
	margin-top: 100px;
	height: 800px;
	width: 300px;
	background-color: #ffbf03;
}

.playerrosteroverlay {
	position: absolute;
	right: 10%;
	margin-top: 100px;
	height: 800px;
	width: 300px;
	background-color: rgba(255,255,255,0.8);
	
}

.playerrosterlist {
	overflow-y: scroll;
	max-height: 800px;
	width: 300px;
	background-color: #ffbf03;
}

.playerrosterlist b {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 2.5em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	/* border-style: solid;
	border-color: #ffffff;
	border-width: 0.5px; */
}

.teamfield {
	position: absolute;
	left: 10%;
	margin-top: 100px;
	height: 800px;
	width: 800px;
	background-color: #ffbf03;
}

.position1 {
	position: absolute;
	left: 10%;
	top: 10%;
	font-size: 2.5em;
	text-align: center;
}


.position2 {
	position: absolute;
	right: 10%;
	top: 10%;
	font-size: 2.5em;
	text-align: center;
}


.position3 {
	position: absolute;
	left: 10%;
	bottom: 10%;
	font-size: 2.5em;
	text-align: center;
}

.position1table {
	background-color: #ffffff;
	width: 300px;
	height: 600px;
}

.position1table b {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	/* border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px; */
}

.position2table {
	background-color: #ffffff;
	width: 300px;
	height: 275px;
}

.position2table b {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.position3table {
	background-color: #ffffff;
	width: 300px;
	height: 275px;
}

.position3table b {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.editteam {
	position: absolute;
	right: 10%;
	bottom: 21.25%;
}

.editteambutton{
	position: absolute;
	right: -50%;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}

.saveteam {
	position: absolute;
	right: 10%;
	bottom: 21.25%;
}

.saveteambutton{
	position: absolute;
	right: -50%;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	display: none;
}

.colorstrip22{
	margin-top: -10px;
	padding: 0px;
	width: 800px;
	height: 60px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	text-align: center;
}

.colorstrip23{
	margin-top: -10px;
	padding: 0px;
	width: 400px;
	height: 60px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	text-align: center;
}

.colorstrip10{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.colorstrip11{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip12{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip13{
	position: relative;
	width: 100%;
	top: 40px;
	height: 300px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
    text-align: center;
}
.companybanner{
	position: relative;
	width: 100%;
	margin-left:auto; 
	margin-right:auto; 
	color: #ffffff;
	font-size:2em; 
	font-family:"Helvetica Neue"; 
	top:50%;
}

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}