@CHARSET "UTF-8";
html,body {
    overflow-x: visible;
    max-width: 100%;
	min-width: 1500px;
	/* For browsers that do not support gradients */
   /*  background: -webkit-linear-gradient(#000000, #ffffff); For Safari 5.1 to 6.0
    background: -o-linear-gradient(#000000, #ffffff); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#000000, #ffffff); For Firefox 3.6 to 15
    background: linear-gradient(#000000, #ffffff); */
}
.maindiv{
	position: relative;
	font-size: 10px;
	z-index: 99;
	background: rgba(2,26,66,0.6); 
}
.bgimage{
	position: fixed;
	z-index: -99;
	top: 0px;
	height: 100vh;
	width: 100vh;
	background: #ffffff;
}
.blur{
  -webkit-filter: blur(1px) grayscale(10%);
}
.colorstrip1{
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 40px;
    border-style: none;
    border-color: #91053d;
    background-color: rgba(255,255,255,0.3);
    z-index: 999;
}
.colorstrip2{
	position: relative;
	width: 100%;
	top: 60px;
	height: 200px;
    border-style: none;
    border-color: #c50234;
    background-color: none;
    font-size:10px;
    display:inline-block;
}
.userimage{
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.profileimage{
  margin-top: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.welcomemsg{
    position: relative; 
	color: #ffffff;
	font-size:5em; 
	font-family:"Helvetica Neue"; 
	margin-left: 25px; 
	margin-bottom: 30px;
	width:100%; 
	text-align:left;
	display: inline;
}
.bannerdesign{
	float:right;
	margin-top: 0px;
	margin-right: 0px;
	height: 100%;
}
.colorstrip21{
	position: relative;
	margin-top: 60px;
	width: 100%;
	height: 43.75px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
    font-size:10px;
    display: inline-block;
    align:center;
}

.teaminfo{
	position: relative;
	height: 800px;
	width: 1250px;
	top:100px;
	left:20%;
	/* background-image: url(../UIAssets/bg_pitch.jpg); */
	background-size:cover;
}

.playerroster{
	position: absolute;
	right: 40%;
	margin-top: 80px;
	height: 700px;
	width: 300px;
	background-color: #ffffff;
	display: none;
}

.playerrosteroverlay {
	position: absolute;
	right: 40%;
	margin-top: 80px;
	height: 700px;
	width: 300px;
	background-color: rgba(255,191,3,0.8);
	display: none;
	
}

.playerrosterlist {
	overflow-y: scroll;
	margin-top: 25px;
	max-height: 700px;
	width: 300px;
	background-color: #ffffff;
}

.playerrosterlist b {
	width: 290px;
    color: #91053d;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 2.5em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	background-color: #ffffff;
	border-style: solid;
	border-color: #ffffff;
	border-width: 0.5px;
}

.teamfield {
	position: absolute;
	left: 10%;
	margin-top: 100px;
	height: 800px;
	width: 1400px;
	/* background-color: #91053d; */
	background-color: none;
}

.position1 {
	position: absolute;
	left: 10%;
	top: 10%;
	font-size: 2.5em;
	text-align: center;
}


.position2 {
	position: absolute;
	right: 10%;
	top: 10%;
	font-size: 2.5em;
	text-align: center;
}


.position3 {
	position: absolute;
	left: 10%;
	bottom: 10%;
	font-size: 2.5em;
	text-align: center;
}

.position1table {
	/* background-color: #939393; */
	background-color: #ffffff;
	width: 300px;
	height: 700px;
}

.position1table b {
    color: #91053d;
    /* padding: 12px 16px; */
    height: 40px;
    margin-bottom:2.5px;
    margin-top:2.5px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	background-color: #ffffff;
	/* border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px; */
}

.position1table b1 {
    color: black;
    padding: 10px 16px; */
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	border-style: solid;
	border-color: #ffffff;
	border-top: #ffbf03 solid;
	border-width: 0.5px;
}

.position2table {
	background-color: #ffffff;
	width: 300px;
	height: 275px;
}

.position2table b {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.position3table {
	background-color: #ffffff;
	width: 300px;
	height: 275px;
}

.position3table b {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.editteam {
	position: absolute;
	right: 15.5%;
	top: 10%;
}

.saveteam {
	position: absolute;
	right: 15.5%;
	top: 10%;
}

.teaminfobanner {
	position: absolute;
	right: 18.5%;
	top: 20%;
	display: none;
}

.teaminfobanner b {
	font-size: 2.5em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	color: #ffffff;
	border-bottom: solid #ffffff;
}
.teamnameedit {
	position: absolute;
	right: 11%;
	top: 25%;
	border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #F5F5F5;
    color: #5a1646;
    padding: 5px 5px;
    display: none;
}

.inputform {
	width: 300px;
	height: 20px;
	font-size: 2em;
}
.editteambutton{
	position: absolute;
	right: -50%;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}



.saveteambutton{
	position: absolute;
	right: -50%;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	display: none;
}

.colorstrip22{
	margin-top: -10px;
	padding: 0px;
	width: 800px;
	height: 60px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	text-align: center;
}

.colorstrip23{
	margin-top: -10px;
	padding: 0px;
	width: 400px;
	height: 60px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
	text-align: center;
}

.colorstrip10{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.colorstrip11{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip12{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip13{
	position: relative;
	width: 100%;
	top: 40px;
	height: 80px;
    border-style: none;
    border-color: #91053d;
    background-color: #ffbf03;
    text-align: center;
}
.companybanner{
	position: relative;
	width: 100%;
	margin-left:auto; 
	margin-right:auto; 
	color: #ffffff;
	font-size:2em; 
	font-family:"Helvetica Neue"; 
	top:30%;
}

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}

.logout{
	position: absolute;
	right: 50px;
	width: 100px;
}

/* body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #333;
} */
#player-lists {
	width: 1000px;
	margin: 10 auto;
}
h2 {
  padding: 0;
  margin: 0 0 .5em 0;
  font-size: 1.3em;
}

#player-roster, #user-team {
	float: left;
	width: 400px;
	height: 700px;
	padding: 5px 10px;
	margin-right: 10px;
	background: #eee;
	text-align: center;
  background: #fff;
  box-shadow: 
    0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
    0px 0px 12px rgba( 0,0,0,0.33 );
  border-radius: 5px;
  border: 1px solid #cacaca;
}
/* #player-roster{
	display:none;
} */
.player {
	width: 300px;
	padding: 3px 5px;
	display: block;
	margin: 0 auto 3px;
	text-align: center;
	border: 0 px solid none;
	background: none;	
	cursor: move;
  border-radius: 5px;
}

.clear {
	clear: both;
}


  @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center;	align-items: center; }
 
@mixin animated($timein: null, $delay: null) { 
 transition: all $timein ease-in-out;
  transition-delay: $delay; 
}
@mixin dimensions($width: null, $height: null) { width: $width; min-height: $height; }
.content1{
  position: relative; 
  animation: animatop 0.9s  cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards ;
}

.card1{  
 @include dimensions( 500px,  30px);
  padding: 0px 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 30px;
    background: cadetblue;
    
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
}
}

  .badgescard1{
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 580px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1; 
    left: 10px; 
    bottom: 10px;
    @extend %flex; 
    animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;
    span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
    }
  }   

.firstinfo1{
  @extend %flex;
  flex-direction: row;  
  z-index:2;
  position: relative;
  img{ 
    border-radius: 10%;
    width: 120px;
	height: 120px;
  }
  .profileinfo1{
    padding: 0px 0px;
    h1{ font-size: 1.8em;}
    h3{ font-size: 1.2em;
        color: $maincolor;
        font-style: italic;
    }
    p.bio1{
      padding: 0px 0px;
      color: #5A5A5A;
      line-height: 1.2;
      font-style: initial;
    }  
  }
}

.userimage1 {
	position: absolute;
	right: 10px;
	top: 5px;
	height: 30px;
	width: 30px;
}
.allinonebanner{
	position: absolute; 
	top: -3px;
	left: 0px;
	color: #ffbf03;
	font-size:2em; 
	font-family:'Raleway', sans-serif; 
	padding-left:20px; 
	width:200px; 
	text-align:left;
	border: none;
	background: none;
}

.editnamecss{
	position: absolute;
	top: 190px;
	left: 200px;
	width: 40%;
	
}
.search{
  	margin-top: -20px;
  	margin-left: 15px;	
  	width: 350px;	
  	text-align: center;
  	display: inline;
}
.userteamoverlay{
	position:absolute;
	height:70%;
	width: 400px;
	background: rgba(2,26,66,0); 
}
.editbutton{
	position: absolute;
	top: 1%;
	right:40px;
}
.clearsearch{
	position: absolute;
	top: 80px;
	right: 335px;
	background-color: rgba(255,255,255,0.3);
	border:none;
	color: #ffbf03;
}