@CHARSET "UTF-8";
html,body {
    overflow-x: visible;
    max-width: 100%;
	min-width: 1500px;
}
.maindiv{
	position: relative;
	font-size: 10px;
	
}
.blur{
  -webkit-filter: blur(1px) grayscale(10%);
}
.colorstrip1{
	position: absolute;
	width: 100%; 
	height: 60px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
}
.colorstrip2{
	position: relative;
	width: 100%;
	top: 60px;
	height: 200px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
    font-size:10px;
    display:inline-block;
}
.userimage{
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.welcomemsg{
    position: relative; 
	color: #ffffff;
	font-size:5em; 
	font-family:"Helvetica Neue"; 
	margin-left: 25px; 
	margin-bottom: 30px;
	width:100%; 
	text-align:left;
	display: inline;
}
.bannerdesign{
	float:right;
	margin-top: 0px;
	margin-right: 0px;
	height: 100%;
}
.usermenu{
	margin-top: 150px;
	margin-right: 20px;
	float: right;
}
.editprofile{
	position: absolute;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffbf03;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.createleague{
	position: relative;
	margin-top: 70px;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffbf03;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.userinfo{
	height: 900px;
}
.colorstrip10{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.colorstrip11{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip12{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip13{
	position: relative;
	width: 100%;
	top: 40px;
	height: 300px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
    text-align: center;
}
.companybanner{
	position: relative;
	width: 100%;
	margin-left:auto; 
	margin-right:auto; 
	color: #ffffff;
	font-size:2em; 
	font-family:"Helvetica Neue"; 
	top:50%;
}