@CHARSET "UTF-8";
html,body {
    overflow-x: visible;
    max-width: 100%;
	min-width: 1500px;
}
.maindiv{
	position: relative;
	font-size: 10px;
	
}
.blur{
  -webkit-filter: blur(1px) grayscale(10%);
}
.colorstrip1{
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 60px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
}
.colorstrip2{
	position: relative;
	width: 100%;
	top: 60px;
	height: 200px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
    font-size:10px;
    display:inline-block;
}
.userimage{
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.welcomemsg{
    position: relative; 
	color: #ffffff;
	font-size:5em; 
	font-family:"Helvetica Neue"; 
	margin-left: 25px; 
	margin-bottom: 30px;
	width:100%; 
	text-align:left;
	display: inline;
}
.bannerdesign{
	float:right;
	margin-top: 0px;
	margin-right: 0px;
	height: 100%;
}
.colorstrip21{
	position: relative;
	margin-top: 60px;
	width: 100%;
	height: 43.75px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
    font-size:10px;
    display: inline-block;
    align:center;
}
.searchbar {
	position: absolute;
	height: 40px;
    width: 70%;
    font-size: 3em;
   	border: 1px solid #ccc;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.searchbar:focus {
    width: 100%;
}
.searchdisc{
	position:relative;
	float: right;
	margin-top: 2px;
	margin-right: 10px;
	width: 400px;
	height: 60px;
	background-color: none;
	border: none;
	color: #ffffff;
	font-size: 3em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.usermenu{
	margin-top: 40px;
	margin-right: 20px;
	float: right;
}
.editprofile{
	position: absolute;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.createleague{
	position: absolute;
	margin-top: 70px;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.stats{
	margin-top: 140px;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.userinfo{
	height: 900px;
}
.highlights{
	height: 940px;
	background-color: #ffffff;
}
.highlightsbanner{
	margin-top: 10px;
	padding: 5px;
	padding-left: 500px;
	padding-right: 500px;
	width: 300px;
	height: 60px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.video1{
	float: left;
}
.video2{
	float: right;
}
.colorstrip101{
	position: absolute;
	width: 100%;
	margin-top: 40px;
	height: 400px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.footballhbanner{
	width: 300px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	font-size: 8em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.colorstrip102{
	position: absolute;
	width: 100%;
	margin-top: 480px;
	height: 400px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.crickethbanner{
	width: 300px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	font-size: 8em; 
	font-family:"Helvetica Neue";  
	font-weight: bold; 
}
.colorstrip10{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.colorstrip11{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip12{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip13{
	position: relative;
	width: 100%;
	top: 40px;
	height: 300px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
    text-align: center;
}
.companybanner{
	position: relative;
	width: 100%;
	margin-left:auto; 
	margin-right:auto; 
	color: #ffffff;
	font-size:2em; 
	font-family:"Helvetica Neue"; 
	top:50%;
}