@CHARSET "UTF-8";
html,body {
    overflow-x: visible;
    max-width: 100%;
	min-width: 1500px;
	background: #021A42; /* For browsers that do not support gradients */
    /* background: -webkit-linear-gradient(#000000, #ffffff); For Safari 5.1 to 6.0
    background: -o-linear-gradient(#000000, #ffffff); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#000000, #ffffff); For Firefox 3.6 to 15
    background: linear-gradient(#000000, #ffffff); */
}
.maindiv{
	position: relative;
	font-size: 10px;
	z-index: 99;
}
.blur{
  -webkit-filter: blur(1px) grayscale(10%);
}
.colorstrip1{
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 40px;
    border-style: none;
    border-color: #91053d;
    /* background-color: rgba(145,5,61,0.9); */
    background-color: rgba(255,255,255,0.3);
    z-index: 999;
}
.colorstrip2{
	position: relative;
	width: 100%;
	top: 40px;
	height: 200px;
    border-style: none;
    border-color: #c50234;
    background-color: none;
    font-size:10px;
    display:inline-block;
}
.userimage{
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.profileimage{
  margin-top: 25px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 72.5px;
  background-size: cover;
}
.welcomemsg{
    position: relative; 
	color: #ffffff;
	font-size:5em; 
	/* font-family:'Raleway', sans-serif; */
	font-family:'Raleway', sans-serif;
	/* font-weight: lighter; */
	margin-left: 25px; 
	margin-bottom: 30px;
	width:100%; 
	text-align:left;
	display: inline;
}
.bannerdesign{
	float:right;
	margin-top: 0px;
	margin-right: 0px;
	height: 100%;
}
.colorstrip21{
	position: relative;
	margin-top: 40px;
	width: 100%;
	height: 43.75px;
    border-style: none;
    border-color: #ffbf03;
    background-color: none;
    font-size:10px;
    display: inline-block;
    align:center;
}
.searchbar {
	position: absolute;
	height: 40px;
    width: 100%;
    font-size: 3em;
   	border: 1px solid #ccc;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.searchbar:focus {
    width: 100%;
}
.searchdisc{
	position:relative;
	float: right;
	margin-top: 2px;
	margin-right: 0px;
	width: 400px;
	height: 60px;
	background-color: none;
	border: none;
	color: #ffffff;
	font-size: 3em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
}


.userinfo .leaguelist{
	margin-top: 40px;
	position: absolute;
	left: 50%;
	display: show;
}
.userinfo .leaguelist .systemleagueslist{
	position: relative;
	left: -50%;
}
.userinfo .leaguelist .userleagueslist{
	position: relative;
	left: -50%;
}

.userinfo .leaguelist .accordiandiv {
	position: relative;
	left: -50%;
	max-height: 600px;
	overflow-y: auto;
}

/* .userinfo .leaguelist .accordion{
	position: relative;
	left: -50%;
} */
.userinfo .searchresult{
	margin-top: 40px;
	position: absolute;
	left: 50%;
	display: none;
}
.closesearch {
	position: absolute;
	right: 0px;
	width: 50px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 1em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
	
}
.userinfo .searchresult .searchresultlist{
	position: relative;
	left: -50%;
}

.scrollresult{
	overflow-y: scroll;
	max-height: 650px;
	position: absolute;
    background-color: #f9f9f9;
    min-width: 800px;
}
.scrollresult a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 2em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
	border-style: solid;
	border-color: #ffbf03;
	border-width: 0.5px;
}

.colorstrip22{
	margin-top: -5px;
	padding: 0px;
	width: 1000px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:'Raleway', sans-serif; 
	text-align: center;
}
.dropbtn1 {
	position: relative;
    background-color: #D8D8D8;
    color: white;
    /* padding: 16px; */
    width: 800px;
	height: 50px;
    font-size: 3em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
    border: none;
    cursor: pointer;
    text-align: center;
}

.dropbtn2 {
    position: relative;
    background-color: #D8D8D8;
    color: white;
    /* padding: 16px; */
    width: 800px;
	height: 50px;
    font-size: 3em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
    border: none;
    cursor: pointer;
    text-align: center;
}
.dropbtn {
    position: relative;
    background-color: #D8D8D8;
    color: white;
    /* padding: 16px; */
    width: 800px;
	height: 50px;
    font-size: 3em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
    border: none;
    cursor: pointer;
    text-align: center;
}
.dropbtn4 {
    position: relative;
    background-color: #D8D8D8;
    color: white;
    /* padding: 16px; */
    width: 800px;
	height: 50px;
    font-size: 3em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
    border: none;
    cursor: pointer;
    text-align: center;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 2em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn1 {
    background-color: #ffbf03;
}
.dropdown:hover .dropbtn2 {
    background-color: #ffbf03;
}

.dropdown:hover .dropbtn {
    background-color: #ffbf03;
}
.dropdown:hover .dropbtn4 {
    background-color: #ffbf03;
}
.usermenu{
	margin-top: 40px;
	margin-right: 220px;
	float: right;
}
.editprofile{
	position: absolute;
	right: 205px;
	width: 100px;
}

.higlightsbutton {
	position: absolute;
	right: 400px;
	width: 100px;
}

.logout{
	position: absolute;
	right: 50px;
	width: 100px;
}
.createleague{
	position: absolute;
	margin-top: 70px;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:'Raleway', sans-serif; 
	
}
.stats{
	/* display: none; */
	margin-top: 140px;
	width: 200px;
	height: 50px;
	background-color: #c50234;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 2em; 
	font-family:'Raleway', sans-serif; 
	 
}
.userinfo{
	position: relative;
	height: 900px;
}
.highlights{
	height: 940px;
	/* background-color: #ffffff; */
}
.highlightsbanner{
	margin-top: 10px;
	padding: 5px;
	padding-left: 600px;
	padding-right: 600px;
	width: 300px;
	height: 60px;
	background-color: #ffbf03;
	border: none;
	color: #ffffff;
	font-size: 4em; 
	font-family:'Raleway', sans-serif; 
	
}
.video1{
	float: left;
}
.video2{
	float: right;
}
.colorstrip101{
	position: absolute;
	width: 100%;
	margin-top: 40px;
	height: 400px;
    border-style: none;
    border-color: #ffbf03;
    background-color: none;
}
.footballhbanner{
	width: 300px;
	height: 60px;
	background-color: none;
	border: none;
	color: #ffffff;
	font-size: 8em; 
	font-family:'Raleway', sans-serif; 
	
}
.colorstrip102{
	position: absolute;
	width: 100%;
	margin-top: 480px;
	height: 400px;
    border-style: none;
    border-color: #ffbf03;
    background-color: none;
}
.crickethbanner{
	width: 300px;
	height: 60px;
	background-color: none;
	border: none;
	color: #ffffff;
	font-size: 8em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
}
.colorstrip10{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ffbf03;
    background-color: #ffbf03;
}
.colorstrip11{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #ff5627;
    background-color: #ff5627;
}
.colorstrip12{
	position: relative;
	width: 100%;
	top: 40px;
	height: 40px;
    border-style: none;
    border-color: #c50234;
    background-color: #c50234;
}
.colorstrip13{
	position: relative;
	width: 100%;
	top: 40px;
	height: 300px;
    border-style: none;
    border-color: #91053d;
    background-color: #91053d;
    text-align: center;
}
.companybanner{
	position: relative;
	width: 100%;
	margin-left:auto; 
	margin-right:auto; 
	color: #ffffff;
	font-size:2em; 
	font-family:'Raleway', sans-serif;
	top:50%;
}
.profilepagemodalcss{
    display: none; /* Hidden by default */
    max-height: calc(100% - 50px);
  	position: fixed;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 199;
}
.profilepage-modal-content{
	z-index: 199;
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: -100px;
    border: none;
    width: 350px; /* Could be more or less, depending on screen size */
    height: 750px;
    box-shadow: 0 15px 18px 0 rgba(0,0,0,0.2),0 16px 30px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
   	text-align: center;
}

.formfieldname {
	position: absolute;
	margin-top: -10px;
	text-align: left;
	min-width: 100px;
	margin-left: 5px;
}

.inputform {
	postion: absolute;
	margin-left: 0px;
	width: 80%;
	border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #F5F5F5;
    color: #5a1646;
    padding: 8px 15px;
}
.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.userprofileinfo{
	margin-top: 50px;
	color: #5a1646;
	font-size: 1em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
	
}
.updateprofileimage {
	margin-top: 40px;
	width: 200px;
	height: 50px;
	background-color: #5a1646;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 1em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
}

.closebutton {
	position: absolute;
	right: 0px;
}
.profileheader {
	positon: absolute;
	padding-top: 40px;
}
.profilebanner {
	padding-top: 20px;
	color: #5a1646;
    border-bottom: solid #5a1646;
	font-size: 2em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
}
.saveprofilebutton {
	width: 200px;
	height: 50px;
	background-color: #5a1646;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 1em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
}
.closeprofilebutton {
	postion: absolute;
	right: 0px;
	margin-left: 310px;
	width: 40px;
	height: 40px;
	background-color: #5a1646;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 1em; 
	font-family:'Raleway', sans-serif; 
	font-weight: bold; 
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center;	align-items: center; }
 
@mixin animated($timein: null, $delay: null) { 
 transition: all $timein ease-in-out;
  transition-delay: $delay; 
}

@mixin dimensions($width: null, $height: null) { width: $width; min-height: $height; }

$maincolor: #009688;
    /* html{height: 100%;} */
    body{
      
      @extend %flex;
       font-family: 'Open Sans', sans-serif;
      width: 100%;
      min-height: 100%;
      background: #009688;
      font-size: 16px;
      overflow: hidden;
    }
 

    *, *:before, *:after {
      box-sizing: border-box;
    }
.content{
  position: relative; 
  animation: animatop 0.9s  cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards ;
}

.card{  
 @include dimensions( 500px,  50px);
  padding: 0px 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 190px;
    height: 50px;
    background: cadetblue;
    
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
}
}

  .badgescard{
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 580px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1; 
    left: 10px; 
    bottom: 10px;
    @extend %flex; 
    animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;
    span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
    }
  }   

.firstinfo{
  @extend %flex;
  flex-direction: row;  
  z-index:2;
  position: relative;
  img{ 
    border-radius: 10%;
    width: 120px;
	height: 120px;
  }
  .profileinfo{
    padding: 0px 0px;
    h1{ font-size: 1.8em;}
    h3{ font-size: 1.2em;
        color: $maincolor;
        font-style: italic;
    }
    p.bio{
      padding: 0px 0px;
      color: #5A5A5A;
      line-height: 1.2;
      font-style: initial;
    }  
  }
}


@keyframes animatop{
  0%{ 
    opacity: 0;
    bottom: -500px;}
  100%{  
   opacity: 1;  
  bottom: 0px;}
}
 
@keyframes animainfos{
  0%{
    bottom:  10px;}
  100%{
  bottom: -42px;}
}

@keyframes rotatemagic{
  0%{
    opacity: 0;
    transform: rotate(-0deg);
    top: -24px;
    left: -253px;
  }
  100%{
    
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}